@model adminsitedev.Question

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Question</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.QuestionID)

        <h2>Original</h2>
        <div class="row Original well well-lg" style="background-color:#CCFFCC;">
            <div class="col-md-11">
                <div class="row Question">
                    <div class="col-md-12 well well-lg">
                        <div class="form-group">
                            @Html.LabelFor(model => model.QuestionOriginal, htmlAttributes: new { @class = "control-label" })
                            <br /><br />
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.QuestionOriginal, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.QuestionOriginal, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Explanation, htmlAttributes: new { @class = "control-label" })
                            <br /><br />
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Explanation, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Explanation, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row Choices" style="padding-left:50px;">
                    <div class="col-md-12">
                        <div class="row ChoiceA">
                            <div class="col-md-12 well well-sm">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ChoiceAOriginal, htmlAttributes: new { @class = "control-label col-md-2" })

                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.ChoiceAOriginal, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ChoiceAOriginal, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row ChoiceB">
                            <div class="col-md-12 well well-sm">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ChoiceBOriginal, htmlAttributes: new { @class = "control-label col-md-2" })

                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.ChoiceBOriginal, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ChoiceBOriginal, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row ChoiceC">
                            <div class="col-md-12 well well-sm">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ChoiceCOriginal, htmlAttributes: new { @class = "control-label col-md-2" })

                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.ChoiceCOriginal, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ChoiceCOriginal, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row ChoiceD">
                            <div class="col-md-12 well well-sm">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ChoiceDOriginal, htmlAttributes: new { @class = "control-label col-md-2" })

                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.ChoiceDOriginal, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ChoiceDOriginal, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row ImageURL">
                            <div class="col-md-12 well well-sm">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ImageURL, htmlAttributes: new { @class = "control-label col-md-2" })

                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.ImageURL, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ImageURL, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 well well-lg">

                        <div class="form-group QuestionType">
                            @Html.LabelFor(model => model.QuestionType, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.QuestionType, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.QuestionType, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group CorrectChoiceOriginal">
                            @Html.LabelFor(model => model.CorrectChoiceOriginal, htmlAttributes: new { @class = "control-label col-md-8" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.CorrectChoiceOriginal, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CorrectChoiceOriginal, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group BookPageNo">
                            @Html.LabelFor(model => model.BookPageNumber, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.BookPageNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.BookPageNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group BookQuestionNumber">
                            @Html.LabelFor(model => model.BookQuestionNumber, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.BookQuestionNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.BookQuestionNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group OurQuestionNumber">
                            @Html.LabelFor(model => model.OurQuestionNumber, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.OurQuestionNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.OurQuestionNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group IsPreviousYearExamQuestion">
                            @Html.LabelFor(model => model.IsPreviousYearExamQuestion, htmlAttributes: new { @class = "control-label col-md-10" })
                            <div class="col-md-2">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.IsPreviousYearExamQuestion)
                                    @Html.ValidationMessageFor(model => model.IsPreviousYearExamQuestion, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group WhichExam">
                            @Html.LabelFor(model => model.WhichExam, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.WhichExam, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.WhichExam, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group WhichYear">
                            @Html.LabelFor(model => model.WhichYear, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.WhichYear, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.WhichYear, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group QuestionMainCategory">
                            <h4 style="color:red;"><b>Category</b></h4>
                            <label class="col-md-2">Main</label>
                            @*@Html.LabelFor(model => model.QuestionMainCategory, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.QuestionMainCategory, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.QuestionMainCategory, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group QuestionSubCategory">
                            <label class="col-md-2">Sub</label>
                            @*@Html.LabelFor(model => model.QuestionSubCategory, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.QuestionSubCategory, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.QuestionSubCategory, "", new { @class = "text-danger" })
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    




        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
