@model IEnumerable<adminsitedev.Question>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

    
    @foreach (var item in Model)
    {
        <div class="row" style="border:3px solid red">
            <div class="col-md-12">
                <div class="row" style="border:2px solid blue">
                    <div class="col-md-1" style="border:1px dotted black">
                        @Html.ActionLink("Edit", "Edit", new { id = item.QuestionID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.QuestionID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.QuestionID })
                        <br />
                        @Html.DisplayNameFor(model => model.QuestionID) : @Html.DisplayFor(modelItem => item.QuestionID)
                    </div>
                    <div class="col-md-11" style="border:1px dotted black">
                        @Html.DisplayNameFor(model => model.OurQuestionNumber) : @Html.DisplayFor(modelItem => item.OurQuestionNumber) <b>|| </b>
    @Html.DisplayNameFor(model => model.BookPageNumber) : @Html.DisplayFor(modelItem => item.BookPageNumber) <b>|| </b>
    @Html.DisplayNameFor(model => model.CorrectChoiceOriginal) : @Html.DisplayFor(modelItem => item.CorrectChoiceOriginal) <b>|| </b>
    @Html.DisplayNameFor(model => model.QuestionMainCategory) : @Html.DisplayFor(modelItem => item.QuestionMainCategory) <b>|| </b>
    @Html.DisplayNameFor(model => model.WhichExam) : @Html.DisplayFor(modelItem => item.WhichExam)

    <br />
    @Html.DisplayNameFor(model => model.BookQuestionNumber) : @Html.DisplayFor(modelItem => item.BookQuestionNumber) <b>|| </b>
    @Html.DisplayNameFor(model => model.QuestionType) : @Html.DisplayFor(modelItem => item.QuestionType) <b>|| </b>
    @Html.DisplayNameFor(model => model.IsPreviousYearExamQuestion) : @Html.DisplayFor(modelItem => item.IsPreviousYearExamQuestion) <b>|| </b>
    @Html.DisplayNameFor(model => model.QuestionSubCategory) : @Html.DisplayFor(modelItem => item.QuestionSubCategory) <b>|| </b>
    @Html.DisplayNameFor(model => model.WhichYear) : @Html.DisplayFor(modelItem => item.WhichYear)
</div>
                </div>
                <div class="row" style="border:1px solid black">
                    <div class="col-md-8" style="border:1px dotted black">
                        @Html.DisplayNameFor(model => model.QuestionOriginal) : <br />
                        @Html.Raw(item.QuestionOriginal)
                    </div>
                    <div class="col-md-4" style="border:1px dotted black">
                        @Html.DisplayNameFor(model => model.ImageURL) : <br />
                        @*@Html.Raw(item.ImageURL)*@
                        <img src="@item.ImageURL"/>
                    </div>
                </div>
                <div class="row" style="border:1px solid black">
                    <div class="col-md-6" style="border:1px dotted black">
                        <label><b>A</b></label>
                        @Html.DisplayFor(modelItem => item.ChoiceAOriginal) <br />
                        <label><b>B</b></label>
                        @Html.DisplayFor(modelItem => item.ChoiceBOriginal) <br />
                        <label><b>C</b></label>
                        @Html.DisplayFor(modelItem => item.ChoiceCOriginal) <br />
                        <label><b>D</b></label>
                        @Html.DisplayFor(modelItem => item.ChoiceDOriginal) <br />
                    </div>
                    <div class="col-md-6" style="border:1px dotted black">
                        @Html.DisplayNameFor(model => model.Explanation) : <br />
                        @Html.Raw(item.Explanation)
                    </div>
                </div>

            </div>
            </div>
            <br/><br /><br />
    }


